body {
    background-image: url("../img/backgroundEdited.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Verdana", Helvetica, sans-serif;
    color: white;
}

.logo {
    margin: 30px;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 30;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 80%;
    display:inline-block;
}

li {
    float: right;
}

li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    /*background-color: #e67e23;*/
    text-decoration-color: #e67e23;
    border-bottom: thick solid #e57e23;
    padding-bottom: .6em;
}

.active {
    background-color: #e67e23;
}

.navbar {
    margin: 50px; 
}

.content {
    font-family: 'Lato', 'Arial', sans-serif;
    margin-top: 250px;
    padding: 20px;
    text-align: left;
    align-items: center;
}

.orange {
    background-color: #e67e23;
    font-family: "Verdana", Helvetica, sans-serif;
    color: white;
    border: 2px solid #e67e23;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    cursor: pointer;
    border-radius: 50px;
     width: 170px;
}

.trans {
    background: transparent;
    border: 2px solid #e67e23;
    font-family: "Verdana", Helvetica, sans-serif;
    color: #e67e23;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    border-radius: 50px;
    width: 170px;  
}